<form class="modal-content" action="{{ request.path }}" method="POST">
  {% csrf_token %}
  <div class="">
    <p>Тапсырысты жойғыңыз келетініне сенімдісіз бе?</p>

    <div class="d-flex justify-content-end">
    	<button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn-sm cancelbtn btn btn-secondary">Жоқ</button>
      	<button type="submit" onclick="document.getElementById('id01').style.display='none'" class="btn-sm deletebtn btn btn-danger ml-10">Жою</button>
    </div>
  </div>
</form>
