
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	{% load crispy_forms_tags %}
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Eduport- LMS, Education and Course Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

</head>

<body style="background: #fff;">
<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl" style="border-bottom: 1px solid #ddd;">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html" style="padding: 10px;">
				<img class="light-mode-item navbar-brand-item" src="{% static 'assets/images/iStudent.png' %}" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="{% static 'assets/images/logo-light.svg' %}" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse justify-content-end" id="navbarCollapse">

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll align-items-center ml-auto">
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe me-2"></i> Язык</a>
						<ul class="dropdown-menu" aria-labelledby="demoMenu">
							<li>
								<a class="dropdown-item me-4" href="index-2.html#">
									<img class="fa-fw me-2" src="{% static 'assets/images/flags/uk.svg' %}" alt="">
									English
								</a>
							</li>
							<li> 
								<a class="dropdown-item me-4" href="index-2.html#"><img class="fa-fw me-2" src="{% static 'assets/images/flags/sp.svg' %}" alt="">Español</a>
							</li>
							
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="btn btn-primary mt-1" href="#">Обратный звонок</a>
					</li>
				</ul>
				<!-- Nav Main menu END -->

			
			</div>
			<!-- Main navbar END -->

			
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
	<!-- Header START -->
<div id="sticky-space" class="" style="height: 0px;"></div>
<main>
<section class="position-relative pt-5">

	<div class="container">
		<div class="row g-4 g-sm-5 align-items-center">

			<!-- Contact form START -->
			<div class="col-lg-6" style="margin: 50px auto;">
				<div class="card card-body shadow p-4 p-sm-5 position-relative">

					<!-- Form START -->
					<h1 class="fs-2 mb-2 text-center">Забыли пароль?</h1>
					<p class="text-center">Введите свой адрес электронной почты, чтобы получить новый пароль.</p>

					<!-- Form START -->
					<form method="post">
					    {% csrf_token %}
					    {{ form.email|add_class:"form-control" }}
					    <div class="align-items-center mt-4">
							<div class="d-grid">
								<button class="btn btn-primary mb-0" type="submit">Отправить электронное письмо</button>
							</div>
						</div>
					</form>
					<!-- Form END -->

					<!-- Social buttons and divider -->
				

					<!-- Sign up link -->
					<div class="mt-4 text-center">
						<span>У вас нет аккаунта? <a href="sign-up.html"> Зарегистрироваться</a></span>
					</div>
					<!-- Form END -->
				</div>
			</div>
			<!-- Contact form END -->
		</div>
	</div>
</section>
</main>
<!-- Header END -->

<!-- Bootstrap JS -->
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Template Functions -->
<script src="{% static 'assets/js/functions.js' %}"></script>
</body>
</html>