<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="light-mode-item navbar-brand-item" src="{% static 'assets/images/iStudent.png' %}" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="{% static 'assets/images/logo-light.svg' %}" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">


				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll mx-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item ">
						<a class="nav-link" href="#home" >Главная страница</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="#services" >Наши услуги</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="#reviews">Отзывы</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="index.html#" >ПАРТНЕРАМ</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="index.html#" >КОНТАКТЫ</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe me-2"></i> ЯЗЫК</a>
						<ul class="dropdown-menu" aria-labelledby="demoMenu">
							<li>
								<a class="dropdown-item me-4" href="index-2.html#">
									<img class="fa-fw me-2" src="{% static 'assets/images/flags/uk.svg' %}" alt="">
									English
								</a>
							</li>
							<li> 
								<a class="dropdown-item me-4" href="index-2.html#"><img class="fa-fw me-2" src="{% static 'assets/images/flags/sp.svg' %}" alt="">Español</a>
							</li>
							
						</ul>
					</li>
				</ul>
				<!-- Nav Main menu END -->

			</div>
			<!-- Main navbar END -->

			<!-- Profile START -->
			<div class="dropdown ms-1 ms-lg-0">
				{% if request.user.is_authenticated %}
					<a class="avatar avatar-sm p-0" href="index.html#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg' %}" alt="avatar">
					</a>
					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<div>
									<a class="h6" href="index.html#">{{ request.user.username }}</a>
								</div>
							</div>
						</li>
						<li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'logout' %}"><i class="bi bi-power fa-fw me-2"></i>Выход</a></li>
					</ul>
				{% else %}
				<a href="{% url 'accounts:login' %}" class="btn btn-danger-soft mb-0">
					<i class="fas fa-sign-in-alt me-2"></i>
					Войти в систему
				</a>
				{% endif %}
			</div>
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>