{% extends 'manager_dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<form action="{{ request.path }}" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <div id="form-demand-content">
        <div class="row"> 
            <div class="col-md-12">
                <input type="hidden" name="type_task" value="1">
                <input type="hidden" name="subject" value="Программирование">
                <input type="hidden" name="is_distribution" value=False>
            </div>
            <div class="col-md-6">
                {{ form.student|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.deadline|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.comment|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.diplom_type|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.language|as_crispy_field }}
            </div>


            <div class="formset">
                <div class="formset-forms">
                    <div class="col-md-12 mb-1">
                        <p class="form-label requiredField">
                            Файли(при наличии)<span class="asteriskField">*</span>
                        </p>
                        <a class="btn btn-default border w-100 add-demand_file-formset float-right">+ Добавить файл</a>
                    </div>
                    {{ demand_file_form_set}}
                    {% for formset_form in demand_file_form_set %}
                    <div class="form-group formset-form d-flex">
                        {% for hidden in formset_form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        <input type="file" class="form-control" height="41"  name="files-{{ forloop.counter0 }}-file" id="id_files-{{ forloop.counter0 }}-file"/>
                        <button class="delete btn btn-sm btn-default">
                            <i class="fa fa-trash "></i>
                        </button>
                        <div class="d-none">{{ formset_form.DELETE }}</div>
                    </div>
                    {% endfor %}

                    <div class="form-group empty-form d-none">
                        <div class="service-content">
                            <div class="d-flex">
                                <input type="file" class="form-control"  height="41" name="files-__prefix__-file" id="files-__prefix__-file">
                                {{demand_file_form_set.empty_form.DELETE}}
                                <div class="input-group-append  delete-content" data-id="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <hr>
    <input type="hidden" name="status" value="4">
    {{distribution_form.expert|as_crispy_field}}
    {{distribution_form.price|as_crispy_field}}
    {{distribution_form.prepayment|as_crispy_field}}
    {{distribution_form.phone_number|as_crispy_field}}
    <div class="text-center">
        <div class="row">
            <div class="col-md-4 col-sm-12 m-auto">
                <input type="submit" class="text-black w-100 bg-warning rounded btn" value="Сохранить">
            </div>
        </div>
    </div>
</form>
{% endblock %}


