{% extends 'expert_dashboard/base.html' %}
{% load static %}
{% block content %}
	<div class="card border rounded-1">
		<!-- Card body START -->
		<div class="card-body" >
			<h6 class="mb-4">Обновить</h6>
			<hr>
			<div id= "resume-content">
				<form action="{{ request.path }}" method="POST">
					{% csrf_token %}

					<p><label class="form-label requiredField">Описание</label>: {{ form.instance.description }}</p>
					<p><label class="form-label requiredField">Дата</label>: {{ form.instance.date }}</p>
					{% load crispy_forms_tags %}
					{{ form|crispy }}
					<input type="submit" class="btn btn-primary" id="btn-resume" value="Обновить">
				</form>
			</div>
		</div>
		<!-- Card body START -->
	</div>
{% endblock %}