<div class="modal fade" id="universal-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Заполните форму и узнайте цену</h5>
        <button type="button" class="btn-close modal-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="universal-modal-content" class="modal-body"></div>
    </div>
  </div>
</div>